@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
.navbar-brand {
    font-family: 'Modak', cursive;
    font-size: xx-large;
    letter-spacing: 0.5rem;
    font-style: italic;
}



body {
    /* background-image: url({url_for'static', filename='/app/static/img/sea.jpg')} */
    /* background-color: blueviolet; */
    font-family: 'Kalam', cursive;
    padding: 10px; 
    /* color: #ebdc0d; */
}
/* 
.container-fluid {
    display: flex;
    justify-content: space-between;
} */

/* .col-md-8,
.col-md-3 {
    border: 2px solid black;
} */

/* .col-md-8 {
    width: 60%;
    height: auto;
} */
/* 
.col-md-3 {
    width: 25%;
    height: 70vh;
    position:fixed;
    /* position: sticky; */
    /* top: 0;
} */ 

/* .list-inline {
    display: inline;
}  */